.header{
    height: 60px;
    display: flex;
    z-index: 100;
    flex-direction: row ;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0%;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 216, 216);
}
body{
    padding-top: 90px;
    padding-left: 100px;
    background-color: rgb(239, 237, 237);
}
.left{
    display: flex;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex:1;
    margin-right: 15px;
    max-width: 500px;
}
.hamburger-menu{
    width: 25px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    width:100px;
}
.search::placeholder{
    font-family: Roboto;
    font-size: 15px;
    padding-left: 12px;
}
.search{
    height:36px;
    flex:1;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(74, 72, 72, 0.15);
}
.buttons1{
    height: 39px;
    width:60px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -1px;
    margin-right: 8px;
}
.buttons2{
    height:40px;
    width: 40px;
    border-radius:50%;
    background-color: rgb(194, 193, 193);    
    border: none;
}
.dd{
    height:25px;
    margin-top:4px;
}
.ee{
    height:25px;
}
.upload{
    height:40px;
    width: 40px;  
    border: none;
    background-color: white;
    flex:1;
}
.up{
    height:25px;
    margin-right:4px;
}
.right{
    display:flex;
    align-items: center;
    width:300px;
    margin-right: 20px;
}
.tt{
    height:30px;
    height:40px;
    width: 40px;
    border-radius:50%;
}
.sidebar{
    position: fixed;
    bottom:0;
    top:59px;
    width: 75px;
    z-index: 200;
}
.side-bar{
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.side-bar:hover{
    background-color: lightgrey;
}
.side-bar img{
    height: 29px;

}
.side-bar div{
   font-family: Roboto;
   font-size: 10px;
}